<div class="show-hide-animation" data-ng-show="vm.paymentResult != 'success'" >
	<div class="panel panel-default">
		<div class="panel-heading">
             <div class="clearfix">
               	<div class="clear">
	         		<div class="h3 m-t-xs m-b-xs">
	                   	订单号：{{vm.order.order_no}}
	                   <span class=" text-success pull-right text-xs m-t-sm">{{vm.order.state_name}}</span>
	     			</div>
	       			<div class="m-t-xs m-b-xs">
	           			<small class="text-muted">实付款:￥{{vm.order.amount}}</small>
	            	</div>
	                <small class="text-muted">税:￥{{vm.order.amount_tax}}</small>
               	</div>
   			</div>
		</div>
 		<div class="list-group no-radius alt">
             <a  data-ng-repeat="product in vm.order.order_line" class="list-group-item" href="">
               <span class="pull-right">￥{{product.price_subtotal}}</span>
               {{product.product_name}} (x{{product.product_uom_qty}})
             </a>
		</div>
	</div>
    <div class="panel panel-info" data-ng-show="vm.order.state=='draft'">
      <div class="panel-body">
	        <a href="" class="thumb-sm pull-left m-l ">
	          <img src="/born_weixin_shop/static/src/img/weixin.jpg" alt="...">
	          <i class="on md b-white bottom"></i>
	        </a>
	        <div class=" pull-right">
	          <a data-ng-click="vm.payment()" class="btn btn-addon btn-sm btn-info m-t-xs" >
	          	使用微信支付(￥{{vm.order.amount}})</a>
	        </div>
      	</div>
    </div>
</div>







