@charset "utf-8";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

.footermenu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 900;
}

.footermenu ul {
    border-top: 1px solid #333333;
    position: fixed;
    z-index: 900;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 100%;
    background: #333333;
    height: 48px;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: horizontal;
    box-shadow: 0 1px 0 #333333 inset;
}

.footermenu ul li a img {
    width: 24px;
    height: 24px;
}

.footermenu ul li {
    float: left;
    width: 25%;
    height: 100%;
    position: static !important;
    margin: 0;
    border-radius: 0 !important;
    box-sizing: border-box;
    box-shadow: none !important;
    background: none;
    list-style: none;
}

.footermenu ul li a {
    position: relative;
    height: 48px;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    display: block;
    text-decoration: none;
    padding-top: 2px;
    position: relative;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);

}

.footermenu ul li.active a {
    background: #333333;
    border-bottom: 0;
    color: #ff5252;
}

.footermenu ul li a p {
    position: absolute;
    width: 100%;
    bottom: 4px;
    margin: 2px 0 0 0;
    font-size: 12px;
    display: block !important;
    line-height: 18px;
    text-align: center;
}

.footermenu ul li a .num {
    font-size: 10px;
    position: absolute;
    z-index: 9;
    left: 55%;
    top: -5px;
    background-color: #eb3634;
    color: #fff;
    font-family: Verdana;
    font-weight: normal;
    line-height: 10px;
    padding: 2px 4px;
    box-shadow: 0 0 0 1px #FFFFFF, 0 1px 5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}



.categorys {
    position: relative;
}

.categorys ul {
    margin: auto;
    display: block;
    width: 100%;
    height: 48px;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: horizontal;
}

.categorys ul li {
    float: left;
    width: 25%;
    height: 100%;
    position: static !important;
    margin: 0;
    border-radius: 0 !important;
    box-sizing: border-box;
    box-shadow: none !important;
    background: none;
    list-style: none;
}

.categorys ul li a {
    position: relative;
    height: 48px;
    text-align: center;
    display: block;
    text-decoration: none;
    padding-top: 2px;
    position: relative;
}

.categorys ul li a img {
    width: 70px;
}

