<ion-view>
    <!--banner -->
    <carousel>
        <slide ng-repeat="slide in vm.slides" >
            <a data-ng-if="slide.link_url!=false"  href="{{slide.link_url}}">
                <img ng-src="{{slide.image_url}} " style="margin:auto;">
            </a>
            <img data-ng-if="slide.link_url==false" ng-src="{{slide.image_url}} " style="margin:auto;">
            <div class="carousel-caption">
              <p>{{slide.title}}</p>
            </div>
        </slide>
    </carousel>

    <!--custom category -->
    <div style="padding:5px;">
        <div class="row text-center">
            <div class="col-sm-3 col-xs-3">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="...">
              </div>
              <div class=" m-b-sm">新品发布</div>
            </div>
            <div class="col-sm-3 col-xs-3">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="..."></div>
              <div class=" m-b-sm">品牌故事</div>
            </div>
            <div class="col-sm-3 col-xs-3">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="..."></div>
              <div class=" m-b-sm">限时热卖</div>
            </div>
            <div class="col-sm-3 col-xs-3">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="..."></div>
              <div class=" m-b-sm">520活动</div>
            </div>
        </div>
    </div>



    <!-- new products -->
    <div class="weui_panel weui_panel_access"  >
        <a class="weui_panel_ft" href="javascript:void(0);">新品发布</a>
        <div class="bd">
            <div class="weui_grids">
                <a href="#/button" class="weui_grid">
                    <div class="weui_grid_icon">
                        <i class="icon icon_button"></i>
                    </div>
                    <p class="weui_grid_label">
                        Button
                    </p>
                </a>
                <a href="#/cell" class="weui_grid">
                    <div class="weui_grid_icon">
                        <i class="icon icon_cell"></i>
                    </div>
                    <p class="weui_grid_label">
                        Cell
                    </p>
                </a>
                <a href="#/toast" class="weui_grid">
                    <div class="weui_grid_icon">
                        <i class="icon icon_toast"></i>
                    </div>
                    <p class="weui_grid_label">
                        Toast
                    </p>
                </a>

            </div>
        </div>
    </div>
 <div class="weui_panel weui_panel_access" style=" ">
        <a class="weui_panel_ft" href="javascript:void(0);">店长推荐</a>
        <div class="row text-center">
            <div class="col-sm-12 col-xs-12">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="...">
              </div>
              <div class=" m-b-sm">新品发布</div>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="..."></div>
              <div class=" m-b-sm">品牌故事</div>
            </div>

        </div>
    </div>




    <div class="weui_panel weui_panel_access" style=" ">
        <a class="weui_panel_ft" href="javascript:void(0);">分类一</a>
        <div class="row text-center">
            <div class="col-sm-6 col-xs-6">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="...">
              </div>
              <div class=" m-b-sm">新品发布</div>
            </div>
            <div class="col-sm-6 col-xs-6">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="..."></div>
              <div class=" m-b-sm">品牌故事</div>
            </div>
            <div class="col-sm-6 col-xs-6">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="...">
              </div>
              <div class=" m-b-sm">新品发布</div>
            </div>
            <div class="col-sm-6 col-xs-6">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="..."></div>
              <div class=" m-b-sm">品牌故事</div>
            </div>
        </div>
    </div>
    <div class="weui_panel weui_panel_access" style=" ">
        <a class="weui_panel_ft" href="javascript:void(0);">分类二</a>
        <div class="row text-center">
            <div class="col-sm-6 col-xs-6">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="...">
              </div>
              <div class=" m-b-sm">新品发布</div>
            </div>
            <div class="col-sm-6 col-xs-6">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="..."></div>
              <div class=" m-b-sm">品牌故事</div>
            </div>
            <div class="col-sm-6 col-xs-6">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="...">
              </div>
              <div class=" m-b-sm">新品发布</div>
            </div>
            <div class="col-sm-6 col-xs-6">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="..."></div>
              <div class=" m-b-sm">品牌故事</div>
            </div>
        </div>
    </div>

     <div class="weui_panel weui_panel_access" style=" ">
        <a class="weui_panel_ft" href="javascript:void(0);">限时热卖</a>
        <div class="row text-center">
            <div class="col-sm-12 col-xs-12">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="...">
              </div>
              <div class=" m-b-sm">新品发布</div>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="..."></div>
              <div class=" m-b-sm">品牌故事</div>
            </div>

        </div>
    </div>
    可滚动
<div id="owl-demo" class="owl-carousel">
            <div class="col-sm-12 col-xs-12">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="...">
              </div>
              <div class="m-b-sm">1发布</div>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="..."></div>
              <div class="m-b-sm">2故事</div>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="...">
              </div>
              <div class="m-b-sm">3发布</div>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="..."></div>
              <div class="m-b-sm">4故事</div>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="..."></div>
              <div class="m-b-sm">5故事</div>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div><img style="width:60px;" src="/born_weixin_shop/static/src/img/demo.png" alt="..."></div>
              <div class="m-b-sm">6故事</div>
            </div>
</div>
    <!--声明轮播-->
    <script>
$('.owl-carousel').owlCarousel({
    margin:10,
    loop:true,
    autoWidth:true,
    items:4
})
    </script>

    <div class="weui_panel">
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_text">
                <ul class="weui_media_info">
                    <li class="weui_media_info_meta">新手指引</li>
                    <li class="weui_media_info_meta">售后服务</li>
                    <li class="weui_media_info_meta weui_media_info_meta_extra">免责声明</li>
                </ul>
                <p class="weui_media_desc text-center">Copyright ©2016</p>
                <p class="weui_media_desc text-center">波恩科技提供技术支持</p>

            </div>
        </div>
    </div>

    <div style="height:60px;"></div>


</ion-view>
