<div class="show-hide-animation" >
	<div >
	    <carousel interval="vm.myInterval">
	      	<slide ng-repeat="slide in vm.slides" >
	        	<img ng-src="data:image/png;base64,{{slide.image}} " style="margin:auto;">
		        <div class="carousel-caption">
		          <p>{{slide.text}}</p>
		        </div>
	      	</slide>
	    </carousel>
	</div>
    <div class=" no-border">
      	<div class="hbox text-center">          
              <a ng-href="#/productList/0" class="col padder-v text-muted b-r b-light" style="background-color:#ff5252;color:#ffffff;">
                <div class="h3"><i class="icon-reload"></i></div>
                <span>所有商品</span>
              </a>
              <a ng-href="#/productList/0" class="col padder-v text-muted" style="background-color:#f6f6f6;color:#ff5252;">
                <div class="h3"><i class="icon-like"></i></div>
                <span>热门推荐产品</span>
              </a>
        </div>
        <div class="panel b-a">
        
        	<ul class="list-group list-group-lg no-bg auto">
          		<li  data-ng-repeat="category in vm.categorys" class="list-group-item clearfix">
          			<i class="fa fa-chevron-right text-muted" style="margin-top:16px;"></i>
           			<span class="pull-left thumb-sm avatar m-r"   >
            			<a ng-href="#/productList/{{category.id}}" >
              				<img  data-ng-show="category.image_medium!=false" ng-src="data:image/png;base64,{{category.image_medium}}"  >
              				<img  data-ng-show="category.image_medium==false" src="/born_weixin_shop/static/src/img/head.jpg"  >
              			</a>
           			</span>
           			<a  ng-href="#/productList/{{category.id}}" >
           				<span class="clear">
            					<span>{{category.name}}</span>
            						<small class="text-muted  text-ellipsis">
								<span class="badge bg-light">{{category.count}}</span>
							</small>
          				</span>
          			</a>
          		</li>
        	</ul>
      	</div>
   	</div>
</div>