<div class="show-hide-animation" >
	<div class=" " data-ng-show="vm.carts.length  == 0" >
		<div style="line-height:300px;text-align:center;">
            <img  src="born_weixin_shop/static/src/img/cart_empty.png" style="width:200px;">
		</div>
	</div>
	
	<div class="panel b-a" data-ng-show="vm.carts.length  > 0" style="min-height:500px;">
       	<div class="panel-heading b-b b-light">
       		<span class="pull-right">
         		<i class="glyphicon glyphicon-shopping-cart"></i>
         	</span>
         	<a class="font-bold h4">我的购物车({{vm.carts.length}})</a>
       	</div>
       	<ul class="list-group no-bg auto" style="padding-bottom:90px;">
			<li data-ng-repeat="cart in vm.carts"  class="list-group-item clearfix" style="padding-bottom:5px;">
				<span class="pull-left thumb-ph avatar m-r">
					<a href="#/productDetail/{{cart.product_id}}"> 
						<img ng-src="data:image/png;base64,{{cart.image_small}}" width="100%" style="margin-top:6px;" align="absmiddle">
					</a>
           		</span>
           		<span class="clear">
             		<span><a href="#/productDetail/{{cart.product_id}}"> {{cart.product_name}}</a></span>
             		<small data-ng-show="cart.description != ''" class="text-muted clear" style="">{{cart.description  | limitTo:14}}...</small>
					<span class=" clear h4"><b>￥{{cart.lst_price}}</b></span>
           		</span>
           		<span >
          			<div class="input-group bootstrap-touchspin card-box" style="float:right;">
          				<span class="input-group-btn">
          					<button data-ng-click="vm.subtractionCartItem($index,cart)"  class="btn btn-default bootstrap-touchspin-down" type="button">-</button>
          				</span>
          				<input  name="qty" data-ng-model="cart.qty" ui-jq="TouchSpin" type="text" value="0" class="form-control qty">
          				<span class="input-group-btn">
          					<button data-ng-click="vm.addCartItem($index,cart)" class="btn btn-default bootstrap-touchspin-up"  type="button">+</button>
          				</span>
          			</div>
				</span>
         	</li>
		</ul>
	</div>   
	
  	<div data-ng-show="vm.carts.length  > 0" class="settings panel panel-default ng-scope active text-center" style="width:100%;padding:20px 0px;background-color:#f0f3f4;">
  		<div class="btn-group btn-group-justified ng-scope text-center" >
			<a data-ng-click="vm.checkout(vm.carts)"  class="btn btn-lg col padder-v text-muted b-r b-light" style="background-color:#ff5252;border:solid 1px #ff5252;color:#ffffff;width:50%;">提交订单(￥{{vm.sum(vm.carts)}})</a>
		</div>
  	</div>  
  	
</div>




